h1{
  font-family:'Times New Roman', Times, serif, Bold ;
  font-size: 50pt;
}
body {
  margin: 0;
    display: block;
    color: black;
    text-align: left;
 
    font-size: 15pt;
    word-spacing: 5pt;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    align-items: flex;
   
}

.navbar {
  background-color: pink;
  height: 120px;
  width: 100%;
  position: relative;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
 Show the link that contains should open and close the topnav (.icon) ---w3school */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


.left-leaf {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
}

.right-leaf {
  position: absolute;
  top: 0;
  right: 0;
  height: 120px;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
  padding-top: 45px; 
  padding-right: 150px;
}

.navbar li {
  display: inline;
  margin-left: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

.navbar a:hover {
  text-decoration: underline;
}

.list-space{
  padding-left:10%;
}
h1{
  padding-left: 5%;
}
.body-text{
  padding-left: 5%;
}

.nav-footer{
    display: block;
    width: 60 pt;
    background-color: white;
    list-style: block;

}
.maps{
  padding-left: 5%;
 
}

.ME{
  float: right;
  width: 60%; 
  height: 60%;
  margin-left: 20px; 
}
/*----CV----*/

 h2{
  margin-left: 4%;
}
.lists-cv{
  margin-left: 5%;
}
.language{
  margin-left: 5%;
}
.career{
  margin-left: 5%;
}
/*-----Gallery-----*/

.allimages {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;                             
}

.allimages img {
  width: 100%;   
  object-fit: cover;       
  margin: 0;
  transition: transform 0.3s ease;
  border-radius: 8px;
  aspect-ratio: 4 / 3; 
  display: block;
}

.allimages img:hover {
  transform: scale(1.05);
}

/*--- footer---*/
.footer {
  display: flex;
  justify-content: space-around; 
  padding: 20px;
}

.footer-item {
  margin: 0 10px;
}

/*---responsive ---- w3school*/ 
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}